## Import Library

In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

## Import Dataset

In [68]:
df = pd.read_excel("Shipment Analysis.xlsx")
df

,ShipperID,CompanyName,Phone,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,...,UnitPrice.1,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued,CategoryID.1,CategoryName,Description,Picture,Promised_Time
0,3,Federal Shipping,(503) 555-9931,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,...,21.00,22,30,30,0,4,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,15.0
1,3,Federal Shipping,(503) 555-9931,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,...,14.00,26,0,0,1,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,15.0
2,3,Federal Shipping,(503) 555-9931,10248,VINET,5,1996-07-04 00:00:00.000,1996-08-01 00:00:00.000,1996-07-16 00:00:00.000,3,...,34.80,14,0,0,0,4,Dairy Products,Cheeses,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,15.0
3,1,Speedy Express,(503) 555-9831,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,...,23.25,35,0,0,0,7,Produce,Dried fruit and bean curd,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,-6.0
4,1,Speedy Express,(503) 555-9831,10249,TOMSP,6,1996-07-05 00:00:00.000,1996-08-16 00:00:00.000,1996-07-10 00:00:00.000,1,...,53.00,20,0,10,0,7,Produce,Dried fruit and bean curd,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,-6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2150,2,United Package,(503) 555-3199,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,...,33.25,22,80,30,0,5,Grains/Cereals,"Breads, crackers, pasta, and cereal",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,NaN
2151,2,United Package,(503) 555-3199,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,...,17.00,4,100,20,0,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,NaN
2152,2,United Package,(503) 555-3199,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,...,15.00,101,0,5,0,8,Seafood,Seaweed and fish,0x151C2F00020000000D000E0014002100FFFFFFFF4269...,NaN
2153,2,United Package,(503) 555-3199,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,...,7.75,125,0,25,0,1,Beverages,"Soft drinks, coffees, teas, beers, and ales",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,NaN
2154,2,United Package,(503) 555-3199,11077,RATTC,1,1998-05-06 00:00:00.000,1998-06-03 00:00:00.000,NaN,2,...,13.00,32,0,15,0,2,Condiments,"Sweet and savory sauces, relishes, spreads, an...",0x151C2F00020000000D000E0014002100FFFFFFFF4269...,NaN

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2155 entries, 0 to 2154
Data columns (total 37 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ShipperID        2155 non-null   int64
 1   CompanyName      2155 non-null   object
 2   Phone            2155 non-null   object
 3   OrderID          2155 non-null   int64
 4   CustomerID       2155 non-null   object
 5   EmployeeID       2155 non-null   int64
 6   OrderDate        2155 non-null   object
 7   RequiredDate     2155 non-null   object
 8   ShippedDate      2082 non-null   object
 9   ShipVia          2155 non-null   int64
 10  Freight          2155 non-null   float64
 11  ShipName         2155 non-null   object
 12  ShipAddress      2155 non-null   object
 13  ShipCity         2155 non-null   object
 14  ShipRegion       856 non-null    object
 15  ShipPostalCode   2100 non-null   object
 16  ShipCountry      2155 non-null   object
 17  OrderID.1        2155 non-null   int64
 18  ProductID        2155 non-null   int64
 19  UnitPrice        2155 non-null   float64
 20  Quantity         2155 non-null   int64
 21  Discount         2155 non-null   float64
 22  ProductID.1      2155 non-null   int64
 23  ProductName      2155 non-null   object
 24  SupplierID       2155 non-null   int64
 25  CategoryID       2155 non-null   int64
 26  QuantityPerUnit  2155 non-null   object
 27  UnitPrice.1      2155 non-null   float64
 28  UnitsInStock     2155 non-null   int64
 29  UnitsOnOrder     2155 non-null   int64
 30  ReorderLevel     2155 non-null   int64
 31  Discontinued     2155 non-null   int64
 32  CategoryID.1     2155 non-null   int64
 33  CategoryName     2155 non-null   object
 34  Description      2155 non-null   object
 35  Picture          2155 non-null   object
 36  Promised_Time    2082 non-null   float64
dtypes: float64(5), int64(15), object(17)
memory usage: 623.1+ KB

## Feature Engineering

In [70]:
df['OrderDate']= pd.to_datetime(df['OrderDate'])
df['ShippedDate']= pd.to_datetime(df['ShippedDate'])

In [71]:
df = df.drop(['ShipperID', 'CustomerID', 'ShipRegion','EmployeeID','Phone','SupplierID', 'ShipVia','ShipPostalCode', 'OrderID.1', 'UnitsInStock','UnitsOnOrder','ReorderLevel','Discontinued', 'ProductID.1','Picture','CategoryID.1','CategoryID','ProductID','QuantityPerUnit', 'UnitPrice.1','ShipAddress'], axis=1)

In [72]:
df['Sales'] = df['UnitPrice']*df['Quantity']*(1-df['Discount'])

In [73]:
df = df.dropna()

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2082 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CompanyName    2082 non-null   object
 1   OrderID        2082 non-null   int64
 2   OrderDate      2082 non-null   datetime64[ns]
 3   RequiredDate   2082 non-null   object
 4   ShippedDate    2082 non-null   datetime64[ns]
 5   Freight        2082 non-null   float64
 6   ShipName       2082 non-null   object
 7   ShipCity       2082 non-null   object
 8   ShipCountry    2082 non-null   object
 9   UnitPrice      2082 non-null   float64
 10  Quantity       2082 non-null   int64
 11  Discount       2082 non-null   float64
 12  ProductName    2082 non-null   object
 13  CategoryName   2082 non-null   object
 14  Description    2082 non-null   object
 15  Promised_Time  2082 non-null   float64
 16  Sales          2082 non-null   float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 292.8+ KB

In [75]:
df

,CompanyName,OrderID,OrderDate,RequiredDate,ShippedDate,Freight,ShipName,ShipCity,ShipCountry,UnitPrice,Quantity,Discount,ProductName,CategoryName,Description,Promised_Time,Sales
0,Federal Shipping,10248,1996-07-04,1996-08-01 00:00:00.000,1996-07-16,32.38,Vins et alcools Chevalier,Reims,France,14.00,12,0.0,Queso Cabrales,Dairy Products,Cheeses,15.0,168.00
1,Federal Shipping,10248,1996-07-04,1996-08-01 00:00:00.000,1996-07-16,32.38,Vins et alcools Chevalier,Reims,France,9.80,10,0.0,Singaporean Hokkien Fried Mee,Grains/Cereals,"Breads, crackers, pasta, and cereal",15.0,98.00
2,Federal Shipping,10248,1996-07-04,1996-08-01 00:00:00.000,1996-07-16,32.38,Vins et alcools Chevalier,Reims,France,34.80,5,0.0,Mozzarella di Giovanni,Dairy Products,Cheeses,15.0,174.00
3,Speedy Express,10249,1996-07-05,1996-08-16 00:00:00.000,1996-07-10,11.61,Toms Spezialitäten,Münster,Germany,18.60,9,0.0,Tofu,Produce,Dried fruit and bean curd,-6.0,167.40
4,Speedy Express,10249,1996-07-05,1996-08-16 00:00:00.000,1996-07-10,11.61,Toms Spezialitäten,Münster,Germany,42.40,40,0.0,Manjimup Dried Apples,Produce,Dried fruit and bean curd,-6.0,1696.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2103,United Package,11066,1998-05-01,1998-05-29 00:00:00.000,1998-05-04,44.72,White Clover Markets,Seattle,USA,17.45,3,0.0,Pavlova,Confections,"Desserts, candies, and sweet breads",-25.0,52.35
2104,United Package,11066,1998-05-01,1998-05-29 00:00:00.000,1998-05-04,44.72,White Clover Markets,Seattle,USA,9.20,42,0.0,Teatime Chocolate Biscuits,Confections,"Desserts, candies, and sweet breads",-25.0,386.40
2105,United Package,11066,1998-05-01,1998-05-29 00:00:00.000,1998-05-04,44.72,White Clover Markets,Seattle,USA,14.00,35,0.0,Sasquatch Ale,Beverages,"Soft drinks, coffees, teas, beers, and ales",-25.0,490.00
2106,United Package,11067,1998-05-04,1998-05-18 00:00:00.000,1998-05-06,7.98,Drachenblut Delikatessen,Aachen,Germany,9.65,9,0.0,Jack's New England Clam Chowder,Seafood,Seaweed and fish,-12.0,86.85
2110,United Package,11069,1998-05-04,1998-06-01 00:00:00.000,1998-05-06,15.67,Tortuga Restaurante,México D.F.,Mexico,18.00,20,0.0,Chartreuse verte,Beverages,"Soft drinks, coffees, teas, beers, and ales",5.0,360.00

In [79]:
df['is_delayed'] = df['Promised_Time'].apply(lambda x:'early' if x > 0 else 'delayed')

In [80]:
df

,CompanyName,OrderID,OrderDate,RequiredDate,ShippedDate,Freight,ShipName,ShipCity,ShipCountry,UnitPrice,Quantity,Discount,ProductName,CategoryName,Description,Promised_Time,Sales,is_delayed
0,Federal Shipping,10248,1996-07-04,1996-08-01 00:00:00.000,1996-07-16,32.38,Vins et alcools Chevalier,Reims,France,14.00,12,0.0,Queso Cabrales,Dairy Products,Cheeses,15.0,168.00,early
1,Federal Shipping,10248,1996-07-04,1996-08-01 00:00:00.000,1996-07-16,32.38,Vins et alcools Chevalier,Reims,France,9.80,10,0.0,Singaporean Hokkien Fried Mee,Grains/Cereals,"Breads, crackers, pasta, and cereal",15.0,98.00,early
2,Federal Shipping,10248,1996-07-04,1996-08-01 00:00:00.000,1996-07-16,32.38,Vins et alcools Chevalier,Reims,France,34.80,5,0.0,Mozzarella di Giovanni,Dairy Products,Cheeses,15.0,174.00,early
3,Speedy Express,10249,1996-07-05,1996-08-16 00:00:00.000,1996-07-10,11.61,Toms Spezialitäten,Münster,Germany,18.60,9,0.0,Tofu,Produce,Dried fruit and bean curd,-6.0,167.40,delayed
4,Speedy Express,10249,1996-07-05,1996-08-16 00:00:00.000,1996-07-10,11.61,Toms Spezialitäten,Münster,Germany,42.40,40,0.0,Manjimup Dried Apples,Produce,Dried fruit and bean curd,-6.0,1696.00,delayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2103,United Package,11066,1998-05-01,1998-05-29 00:00:00.000,1998-05-04,44.72,White Clover Markets,Seattle,USA,17.45,3,0.0,Pavlova,Confections,"Desserts, candies, and sweet breads",-25.0,52.35,delayed
2104,United Package,11066,1998-05-01,1998-05-29 00:00:00.000,1998-05-04,44.72,White Clover Markets,Seattle,USA,9.20,42,0.0,Teatime Chocolate Biscuits,Confections,"Desserts, candies, and sweet breads",-25.0,386.40,delayed
2105,United Package,11066,1998-05-01,1998-05-29 00:00:00.000,1998-05-04,44.72,White Clover Markets,Seattle,USA,14.00,35,0.0,Sasquatch Ale,Beverages,"Soft drinks, coffees, teas, beers, and ales",-25.0,490.00,delayed
2106,United Package,11067,1998-05-04,1998-05-18 00:00:00.000,1998-05-06,7.98,Drachenblut Delikatessen,Aachen,Germany,9.65,9,0.0,Jack's New England Clam Chowder,Seafood,Seaweed and fish,-12.0,86.85,delayed
2110,United Package,11069,1998-05-04,1998-06-01 00:00:00.000,1998-05-06,15.67,Tortuga Restaurante,México D.F.,Mexico,18.00,20,0.0,Chartreuse verte,Beverages,"Soft drinks, coffees, teas, beers, and ales",5.0,360.00,early

In [82]:
df.to_csv('shipment_analysis.csv', sep=';', encoding='utf-8')